* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
   
}
div.news-part
{
   
    color: black;
    background-color:#e2e46f;
    padding: 10px 10px;
    text-align: center;
   
    font-size: larger;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#text
{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


div.text
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
font-size: 25px;
text-align: center;
color: rgb(0, 0, 0);
margin-left: 750px
  
  
}
div.main-image
{

    width: 350px;
    margin: 0 auto;
    

}
div.info-1
{
 
font-size: large;
}

div.info-2
{
    font-size: large;
   
}
div.Women-clothes
{
    padding-left: 50%;
    background-color: #e2e46f ;
}

div.Man-clothes
{
    padding-left: 25%;
    background-color: #e2e46f ;

}

button
{
    width: 100px;
    height: 50px;
    
}




ul
{
    margin: auto;
  
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}
  
  header nav a:hover 
{
    transform: scale(1.1, 1.1);
    display: inline-block;
}
header nav a 
{
    text-decoration: none;
    color: black;
    background-color:#e2e46f;
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 15px;
    box-shadow: 8px -8px 20px 4px rgb(0 0 0 / 20%);
}
  ul li, 
  ul li a
{
    margin: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
  
}
.header
{

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 98%;
}

footer 
{
    margin: 15px;
    color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

span.contacts
{
    padding-right: 20%;
    text-align: left;
    
}

span.description-m
{
    padding-right: 20%;
    text-align: left;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
span.description-w
{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
  
.main-image img 
{
    max-width: 100%;
    max-height: 100%;
}

  img 
{
    max-width: 100%;
    max-height: 100%;
}

